.betSipWrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    width: 370px;
    height: 100%;
    background-color: rgb(15, 33, 46);
    filter: drop-shadow(0 0 5px rgba(25, 25, 25, 0.25));
    margin-left: auto;
    z-index: 2;
}

.reopenWrapper {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 60px;
    display: flex;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
        0 4px 6px -2px rgba(0, 0, 0, 0.1);

    transition: background-color 0.15s ease;

    cursor: pointer;
}

.reopenWrapper:hover {
    background-color: #071824;
}

.reopenWrapper:hover .reopenBtn {
    color: #fff;
}

.reopenBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    background-color: transparent;
    color: #b1bad3;
    stroke: currentColor;
    fill: currentColor;

    cursor: pointer;
    transition: color 0.15s ease;
}

.reopenBtn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.pendingBetsCount {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 1.6em;
    padding: 0 0.5rem;
    margin-left: 0.5rem;

    border-radius: 2em;

    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.3;
    white-space: nowrap;

    color: rgb(4, 23, 45);
    background-color: rgb(67, 145, 231);
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 1rem;

    overflow-y: auto;
}


@media (max-width: 1000px) {
    .betSipWrapper {
        width: 320px;
    }
}


@media (max-width: 768px) {
    .betSipWrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 70px;
    }

    .reopenWrapper {
        display: none;
    }
}