.sportMenuContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    background-color: rgb(15, 33, 46);
    border-radius: 0.5rem;

    overflow-x: auto;
    overflow-y: hidden;
}

.sportMenuList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;

    padding: 2rem 0.5rem 1.5rem 0.5rem;

    list-style-type: none;
}


@media (max-width: 1300px) {
    .sportMenuContainer {
        position: relative;
        overflow-x: auto;

        mask-image: linear-gradient(to right,
                black 0%,
                black calc(100% - 2rem),
                transparent 100%);
        -webkit-mask-image: linear-gradient(to right,
                black 0%,
                black calc(100% - 2rem),
                transparent 100%);
    }
}

@media (max-width: 500px) {
    .sportMenuList {
        padding: 1.5rem 0.5rem 1rem 0.5rem;
    }
}