.totalResultWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    border-radius: 0.25rem;

    margin-top: auto;

    background-color: rgb(15, 33, 46);
}

.resultRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.5;

    color: #fff;
    font-weight: 700;
}

.resultRow span:last-child::first-letter {
    color: rgb(255, 157, 0);
    font-weight: 600;
}

.resultRow span:last-child {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

@media (max-width: 768px) {
    .resultRow {
        font-size: 1rem;
    }
}