.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
  padding: 15px 0px;
  flex-shrink: 0;

  height: 60px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 3vw;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
}

.balanceConfig {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(0.25rem * 2);
}

.resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-inline: 1.25rem;
  padding-block: 0.93rem;

  color: #fff;
  font-weight: 600;
  background-color: #2f4553;

  border: none;
  border-radius: calc(0.5rem - 4px);
  box-shadow: 0 4px 6px -1px #0c0c0c1a, 0 1px 2px -1px #0c0c0c1a;
  transition: all cubic-bezier(.4, 0, .2, 1) 0.15s;
}

.resetBtn:hover {
  background-color: #3a4f5b;
  cursor: pointer;
}

.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  padding-inline: 1.25rem;
  padding-block: 0.93rem;

  color: #fff;
  font-weight: 600;
  background-color: rgb(255, 157, 0);

  border: none;
  border-radius: calc(0.5rem - 4px);
  box-shadow: 0 4px 6px -1px #0c0c0c1a, 0 1px 2px -1px #0c0c0c1a;
  transition: all cubic-bezier(.4, 0, .2, 1) 0.15s;
}

.balance::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  opacity: 0.7;
  pointer-events: none;
  transition: left 0.5s;
}

.balance:hover::after {
  left: 120%;
  transition: left 0.5s;
}