.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;

    position: relative;
}

.line {
    position: absolute;
    top: 1.5rem;

    height: 2px;
    background-color: rgb(47, 69, 83);
}

.lineHidden {
    display: none;
}

.lineStart {
    left: 20%;
    width: 35%;
}

.lineEnd {
    right: 1rem;
    width: 16%;
}

.infoPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;

    width: 100%;
    min-height: 100%;
}

.time {
    display: flex;
    align-items: center;

    width: 100%;

    padding: 0.5rem;
    padding-left: 0;

    font-size: 0.75rem;
    font-weight: 600;

    color: rgb(177, 186, 211);
    line-height: 1.5;
}

.teamWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0rem;
}

.teamName {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1;
}

.toggleBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    padding: 2rem 0rem 0 2rem;
}

.toggleBtnWrapperHidden {
    opacity: 0;
}