@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  /* min-height: 100vh; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.88rem;
  line-height: 1.06rem;

  color: #fff;
  background: hsl(204deg 36.59% 16.08%);
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* @media (max-width: 720px) {
    
} */